.studentbackground
  .col-md-6.col-md-offset-3 
    .text-center
      %h2.teacher
        Add a new CBM score
  .div 
    .col-md-6.col-md-offset-3
      .cancelback 
        .text-center.cancel
          = link_to "Cancel", new_cbm_path
    %br
    .row
      .col-md-6.col-md-offset-3
        =render 'form'
    %br
