.programbackground
  .row
    .col-md-6.col-lg-6.teacher
      %h2.teacher
        Program Information
        %br
  
  .row.addteach
    .col-sm-6.col-md-12
      .teacherlink
        .text-center
          - @programs.each do |program|
            .div
              .col-md-3.col-md-offset-6.teachlist
                .list-group-item
                  .text-center
                    
                    = link_to program.name, program_path(program)
                    
                    %br
                    %br
                  - if can? :update, Program 
                    = link_to edit_program_path(program) do
                      %span.glyphicon.glyphicon-pencil
                    
                    = link_to program_path(program), method: :delete do
                      %span.glyphicon.glyphicon-remove
                  %br
          - if can? :create, Program
            .div 
              .col-md-3.col-md-offset-6.teachlist 
                .list-group-item 
                  .text-center.addTeacher        
                    Add Program
                  %br
                  = link_to new_program_path do
                    %span.glyphicon.glyphicon-plus.addTeacher
  .row.addteach
    .col-sm-6.col-md-12.col-lg-12   
      %br
      %br

    

