.blurb.bright
  .row
    .col-md-6.col-md-offset-3.text-center
      %h1.logo Welcome to Meeting of the Minds
      %br
      %h2 created by Lindsay Williams 
      %br
      %h2 contact me at williamsl25@yahoo.com  
