
.blurb.bright
  .row
    .col-md-6.col-md-offset-3.text-center
      %h1.logo Meeting of the Minds
      %br
  / .row
  /   .col-sm-4.col-sm-offset-2
  /     .panel
  /       .panel-heading.text-center.panelback
  /         %button.btn.btn-lg.btn-default.btn-block 
  /           = link_to "Login", new_user_session_path
  /   .col-sm-4
  /     .panel
  /       .panel-heading.text-center.panelback
  /         %button.btn.btn-lg.btn-default.btn-block 
  /           = link_to "Register", new_user_registration_path
  .container
    .row
      .col-md-12.text-center
        %h1 
          A book is a gift you can open again and again. 
        %p.lead —Garrison Keillor
  .row.green
    .col-md-12.text-center
      %h1 
        = link_to "Teachers", teachers_path
      %p.lead Inspire. Innovate. Collaborate.
  .row.green
    .row
      .col-md-12.text-center
        %h1 
          = link_to "Students", students_path
        %p.lead Imagine. Dream. Achieve.     
  .row.green
    .col-md-12.text-center
      %h1 
        = link_to "Programs", programs_path
      %p.lead Motivate. Challenge. Captivate.
    