h1{
  font-family: 'Open Sans Condensed', sans-serif;
}
.logo {
  font-family: 'Satisfy', cursive;
  font-size: 65px;
  text-shadow: black;
}
body {
  background-size: cover;
  background-color: #33ee67;
  border: ridge;
  border-width: 15px;
  border-color: black;
}

.footer {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}
p.alert {
  margin-top: -50px;
}
.noticemsg {
  margin-top: 0px;
  color: red;
  line-height: 1.4;
  margin-bottom: 0px;
  background-color: transparent;  
}
.table-solid {
  background-color: white;
  opacity: .9;
}
.student {
  color: white;
  font-size: 55px;
  margin-left: 25px;

}
.teacherlink .teachlist a {
  opacity: .9;
  color: black;
}
.studentlist {
  opacity: .9;
  color: white;
}
.teacher {
  color: white;
  font-size: 55px;
  margin-left: 25px;
}
.teacherlink a {
  color: white;
  font-size: 15px;
  margin-left: 25px;
}
.studentlink {
  color: white;
  font-size: 15px;
  margin-left: 25px;

}
.studentbackground {
  background: url(kids_hands_up.jpg) no-repeat center center fixed;
  background-size: cover;
}
.teacherbackground {
  background: url(office.jpg) no-repeat center center fixed;
  background-size: cover;
}
.container.marketing {
  color: black;
  font-weight: bold;
  
}
.addteach {
  color: white;
}
.teachlist .add {
  margin-bottom: 25px;
}
.teachers {
  background-color: white;
  opacity: .8;
}
.cbm {
  background-color: white;
  opacity: .8;
  margin-bottom: 25px;

}

.alert {
  margin-top: 75px;
  margin-left: 25px;
}


.blurb {
  padding: 120px 0;
  background-color:#33ee67;
}

.blurb .panel {
  background-color:transparent;
}
.panelback {
  background-color: #33ee67;
  border-style: ridge;
  
}
.bright {
  background: url(kids_hands_up.jpg) no-repeat center center fixed; 
  color:#fff;
  background-size: cover;
}

.green {
  background-color: #33ee67;
  border: ridge;
  border-width: 5px;
  border-color: black;
}
.login {
  background-color: #33ee67;
  background: url(kids_hands_up.jpg) no-repeat center center fixed; 
  color:#fff;
  background-size: cover;
}
.addTeacher {
  margin-bottom: 3px;
  color: black;
}
.cancel a{
  color: white;
  
}
.cancelback {
  background-color: transparent;
}
.addcbm a{
  color: white;
  background-color: transparent;
  margin-left: 15px;
}
.chart {
  margin-left: 15px;
}
.teachlist {
  margin-left: 55px;
}
